node_modules
target
.vscode
.settings
.project
.classpath
webpack.generated.js
package-lock.json
package.json
webpack.config.js
/error-screenshots
drivers
tsconfig.json
.idea
types.d.ts
frontend/generated/
frontend/index.html
src/main/dev-bundle/*
/src/main/bundles
/src/main/dev-bundle
/.flow-node-tasks.lock
/vite.config.ts
/vite.generated.ts
